<header>
  <h2>{{ title }}</h2>
</header>
<main>
  <aside>
    <nav>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/define-providers">Define Providers</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/module-with-providers">Module With Providers</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/sharing-datas">Sharing Datas</a>
        </li>
      </ul>
    </nav>
  </aside>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>
