
:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #EFF0F5;
  > header {
    top: 0px;
    flex: 0 0 auto;
    width: 100%;
    color: #FFFFFF;
    height: 48px;
    display: flex;
    z-index: 4;
    padding: 0px 20px ;
    position: sticky;
    box-shadow: 0px 0px 8px #3D3C40;
    box-sizing: border-box;
    align-items: center;
    background-color: #3D3C40;
    > h2 {
      margin: 0px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  > main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1270px;
    > aside {
      flex: 0 0 216px;
      margin: 0px 0px 0px 16px;
      z-index: 2;
      box-sizing: border-box;
      > nav {
        top: 64px;
        height: calc(100vh - 80px);
        position: sticky;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 3px 0px rgba(0,0,0,.12);
        border-radius: 4px;
        background-color: #FFFFFF;
        > ul {
          margin: 0px;
          padding: 16px 8px;
          list-style: none;
          li {
            height: 28px;
            display: flex;
            padding: 0px 8px;
            font-size: 12px;
            align-items: center;
            border-radius: 4px;
            > a {
              flex: 1 1 auto;
              color: inherit;
              outline: none;
              text-decoration: none;
            }
            &.active {
              color: #FFFFFF;
              box-shadow: -2px 2px 4px 0px rgba(122,95,227,0.58);
              background-color: #7A5FE3;
            }
            & + li {
              margin-top: 12px;
            }
          }
        }
      }
    }
    > div {
      flex: 1 1 auto;
      padding: 16px;
      overflow: hidden;
    }
    @media (max-width: 720px) {
      > aside {
        display: none;
      }
    }
  }
}
